p {
    color: blueviolet;
    font-size: 20px;
}

.parrafo {
    color: brown;  
}

#texto {
    color: chocolate;
    font-size: 15px;
}
<<<<<<< HEAD
=======

/*dividido por classe y id */ 
>>>>>>> 9ca3861f12cc8d1cf32c90feeda4f868cd1c2368
